body {
	font-family: 'Noto Sans', sans-serif;
}
p.footer {
	border: 1px solid black;
	font-size: 0.75em;
}
p.header {
	font-size: 1.25em;
}
p.header, p.footer {
	padding: 5px 5px 5px 5px;
}
span.leftHalf {
	left: 0%;
	width: 50%;
	display: inline-block;
	text-align: left;
	text-decoration: none;
}
span.rightHalf {
	left: 50%;
	width: 50%;
	display: inline-block;
	text-align: right;
}
span.tagTextSize1 {
	font-size: 0.35em;
}
span.tagTextSize2 {
	font-size: 0.50em;
}
span.tagTextSize3 {
	font-size: 0.80em;
}
span.tagTextSize4 {
	font-size: 1.05em;
}
span.tagTextSize5 {
	font-size: 1.25em;
}
span.tagText {
	cursor: pointer;
}
a.noUnderline {
  text-decoration: none;
}
div.modal {
	background-color: lightgray;
	padding: 12px;
	display: none;
	position: fixed;
	left: 10%;
	top: 10%;
	z-index: 1;
	border: 4px solid black;
	border-radius: 10px;
}
table.threadIndex {
	border: none;
	width: 100%;
	text-align: left;
}
table.threadIndex tr.evenRow {
	background-color: #DDD;
}
table.threadIndex tr.oddRow {
	background-color: #BBB;
}
table.threadIndex th {
	background-color: white;
}
