{% load static %}
<script src="{% static "relations.js" %}"></script>
<div id="threadToEventModal" class="modal">
The following events that will be associated with this thread.<br>
Use the checkboxes to change the associations.<br>
<!-- TODO: change form s.t. submit button works async-ly: call associate view to make db changes and then populateFormThreadToEvent to reload contents of modal -->
<form id="threadToEventForm">
<fieldset id="threadToEventFields"></fieldset>
<input type="submit" value="Submit changes">
</form>
<button onclick="$('#threadToEventModal').hide()">Close</button>
</div>
