{% comment %}
    Copyright 2016, 2017 Jacob C. Wimberley.

    This file is part of Weathredds.

    Weathredds is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Weathredds is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Weathredds.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}
{% load static %}
<script src="{% static "relations.js" %}"></script>
<div id="threadToEventModal" class="modal">
The following events that will be associated with this thread.<br>
Use the checkboxes to change the associations.<br>
<!-- TODO: change form s.t. submit button works async-ly: call associate view to make db changes and then populateFormThreadToEvent to reload contents of modal -->
<form id="threadToEventForm">
<fieldset id="threadToEventFields"></fieldset>
<input type="submit" value="Submit changes">
</form>
<button onclick="$('#threadToEventModal').hide()">Close</button>
</div>
