<!DOCTYPE html>
{% comment %}
    Copyright 2016, 2017 Jacob C. Wimberley.

    This file is part of Weathredds.

    Weathredds is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Weathredds is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Weathredds.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}
{% load staticfiles %}
<html>
<head>
	<title>Weathredds</title>
	<link rel="stylesheet" href="{% static "tracker-global.css" %}">
	<link rel="stylesheet" href="{% static "jquery-ui.min.css" %}">
	<script src="{% static "external/jquery/jquery.js" %}"></script>
	<script src="{% static "jquery-ui.min.js" %}"></script>
	<link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,700" rel="stylesheet">
	<script>

$( document ).ready(function() {

	// jQuery-ize the date selection boxes, and create datetime preset buttons next to them
	$(".uiDatepicker").datepicker({
		dateFormat: 'yy-mm-dd'
	}).after(function() {
		var dateBox = $(this);
		var dateId = dateBox.attr('id');
		var timeId = dateId.replace('Date','Time'); // e.g. id__startDate becomes id__startTime
		var timeBox = $('#' + timeId);
{# so we can do the dirty work of date calculations in Python #}
{% for dt in presetDatetimes %}
		$(this).after($('<span/>')
			.html("{{ dt.name }}" + ' ')
			.addClass('datetimePresets')
			.click(function() { dateBox.val('{{ dt.date }}'); timeBox.val('{{ dt.time }}'); }));
{% endfor %}
	}).after(' <i>or choose period:</i> ');

	// now create the time preset buttons next to the time boxes
	$(".timeBox").after(function() {
			var targetBox = $(this);
			// reverse order due to after() always referring to targetBox
			targetBox.after($('<span/>').html('1800 ').addClass('datetimePresets').click(function() { targetBox.val('1800'); }));
			targetBox.after($('<span/>').html('1200, ').addClass('datetimePresets').click(function() { targetBox.val('1200'); }));
			targetBox.after($('<span/>').html('0600, ').addClass('datetimePresets').click(function() { targetBox.val('0600'); }));
			targetBox.after($('<span/>').html('0000, ').addClass('datetimePresets').click(function() { targetBox.val('0000'); }));
			targetBox.after(' <i>or click a time:</i> ');
	});
});
	</script>
</head>
<body>
	<p class="header ui-widget-header ui-corner-all"><span class="leftHalf"><a class="noUnderline" href="{% url 'home' %}">Weathredds</a>: <span id="nameOfView">Home</span></span><span class="rightHalf">
{% if user.is_authenticated %}
You are logged in as {{ request.user.username }} <i><a href="{% url 'logout' %}">logout</a></i>
{% endif %}
</span></p>
	{% block content %}
	{% endblock %}
	<p class="footer ui-corner-all"><span class="leftHalf">Weathredds is an open-source project originated by Jake Wimberley. <b>Version 0.3.1</b><br>Licensed under the <a href="https://www.gnu.org/licenses/gpl-3.0.en.html">GNU General Public License.</a></span><span class="rightHalf"><a href="http://www.djangoproject.com/"><img src="https://www.djangoproject.com/m/img/badges/djangomade124x25.gif" border="0" alt="Made with Django." title="Made with Django." /></a></span></p>
</body>
</html>
