<!DOCTYPE html>
<!--
		Copyright 2016 Jake Wimberley.

		This file is part of Weathredds.

		Weathredds is free software: you can redistribute it and/or modify
		it under the terms of the GNU General Public License as published by
		the Free Software Foundation, either version 3 of the License, or
		(at your option) any later version.

		Weathredds is distributed in the hope that it will be useful,
		but WITHOUT ANY WARRANTY; without even the implied warranty of
		MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
		GNU General Public License for more details.

		You should have received a copy of the GNU General Public License
		along with Weathredds.  If not, see <http://www.gnu.org/licenses/>.
-->
{% extends 'tracker/base.html' %}
{% block content %}
<script>
	document.getElementById('nameOfView').innerHTML = 'Extend &quot;{{ threadTitle }}&quot;';
</script>
<p>Valid at {{ validTime|date:"Hi\z D M j" }}</p>
<form action="{% url 'extendThread' id %}" method="post">
  {% csrf_token %}
  <table>
  {{ discussionTextBox }}
  </table>
  <input type="submit" value="Submit new discussion" />
</form>
{% endblock content %}
