<!--
    Copyright 2016 Jake Wimberley.

    This file is part of RunToRun.

    RunToRun is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    RunToRun is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with RunToRun.  If not, see <http://www.gnu.org/licenses/>.
-->
{% extends 'tracker/base.html' %}
{% block content %}
<script>
	$(function() {
		$( "#forms" ).tabs();
	});
</script>
<h2>Pinned events</h2>
<ul>
{% for pinnedEvent in pinned %}
{% url 'singleEvent' pinnedEvent.event.id as eventUrl %}
	<li><a href="{{ eventUrl }}">{{ pinnedEvent }}</a></li>
{% endfor %}
</ul>
<h2>Timeline</h2>
<ul>
{% for event in timelineEvents %}
	<li>{{ event }}</li>
{% endfor %}
</ul>
<h2>Start something new!</h2>
<div id="forms">
	<ul>
		<li><a href="#newThread">Add a thread</a></li>
		<li><a href="#newEvent">Add an event</a></li>
	</ul>
	<div id="newThread">
		<form action="/newThread/" method="post">
			{% csrf_token %}
			<table>
			{{ newThread }}
			</table>
			<input type="submit" value="Create thread" />
		</form>
	</div>
	<div id="newEvent">
		<form action="/newEvent/" method="post">
			{% csrf_token %}
			<table>
			{{ newEvent }}
			</table>
			<input type="submit" value="Create event" />
		</form>
	</div>
</div>
{% endblock content %}
