<!--
    Copyright 2016 Jacob C. Wimberley.

    This file is part of Weathredds.

    Weathredds is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Weathredds is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Weathredds.  If not, see <http://www.gnu.org/licenses/>.
-->
{% extends 'tracker/base.html' %}
{% load dictGet %}
{% block content %}
<script>
	$(function() {
		$( "#forms" ).tabs();
		$( "#id__startDate" ).blur(function() { getThreadList(); });
		$( "#id__startTime" ).blur(function() { getThreadList(); });
		$( "#id__endDate" ).blur(function() { getThreadList(); });
		$( "#id__endTime" ).blur(function() { getThreadList(); });
	});
	function getThreadList() {
		var dateRe = /^\d{4}-\d\d-\d\d$/;
		var timeRe = /^\d\d:?\d\d$/;
		var fromStr;
		var toStr;
		// if valid values exist for all 4...
		if (dateRe.test($('#id__startDate').val()) &&
		    timeRe.test($('#id__startTime').val()) &&
		    dateRe.test($('#id__endDate').val()) &&
		    timeRe.test($('#id__endTime').val())) {
			fromStr = $('#id__startDate').val() + '_' + $('#id__startTime').val();
			toStr = $('#id__endDate').val() + '_' + $('#id__endTime').val();
		} else return;
		//console.log('fromStr='+fromStr+' '+'toStr='+toStr);
		$.get('/async/threadsForPeriod', { from: fromStr, to: toStr }, function(newOptions) {
			// data returned is JSON giving id,name pairs
			$('#id__threadChoices').empty();
			$.each(newOptions, function(id,name) {
				$('#id__threadChoices').append($("<option></option>")
				.attr("value", id).text(name));
			});
		});
	}
</script>
<h2>Pinned events</h2>
<ul>
{% for pinnedEvent in pinned %}
{% url 'singleEvent' pinnedEvent.event.id as eventUrl %}
	<li><a href="{{ eventUrl }}">{{ pinnedEvent }}</a></li>
{% endfor %}
</ul>
<h2>Recent threads</h2>
{% with recentThreads as threadIndex %}
{% include 'tracker/threadIndex.html' %}
{% endwith %}
<h2>Timeline</h2>
<ul>
{% for event in timelineEvents %}
	<li>{{ event }}</li>
{% endfor %}
</ul>
<h2>Tag cloud {{ tagScale.numEvents__max }}</h2>
<p>{% for tag in tags %}
{% with tag.name as tagName %}
{% url 'singleTag' tagName as tagUrl %}
<span class="tagText tagTextSize{{ tagDisplaySizes|dictGet:tagName }}" onclick="window.location.href='{{ tagUrl }}'">{{ tagName }}</span>
{% endwith %}
{% endfor %}</p>
<h2>Start something new!</h2>
<div id="forms">
	<ul>
		<li><a href="#newThread">Add a thread</a></li>
		<li><a href="#newEvent">Add an event</a></li>
	</ul>
	<div id="newThread">
		<form action="/newThread/" method="post">
			{% csrf_token %}
			<table>
			{{ newThread }}
			</table>
			<input type="submit" value="Create thread" />
		</form>
	</div>
	<div id="newEvent">
		<form action="/newEvent/" method="post">
			{% csrf_token %}
			<table id="newEventForm">
			{{ newEvent }}
			</table>
			<input type="submit" value="Create event" />
		</form>
	</div>
</div>
{% endblock content %}
