<!DOCTYPE html>
<!--
    Copyright 2016 Jake Wimberley.

    This file is part of Weathredds.

    Weathredds is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Weathredds is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Weathredds.  If not, see <http://www.gnu.org/licenses/>.
-->
{% extends 'tracker/base.html' %}
{% block content %}
<script>
	document.getElementById('nameOfView').innerHTML = 'Event selection';
	$(function() {
		$("button.eventDetails").button({
			icons: { primary: "ui-icon-comment" },
			label: 'Details'
		});
		$("button.newThread").button({
			icons: { primary: "ui-icon-pencil" },
			label: 'New thread'
		});
	});
</script>
{% for event in events %}
<h2>{{ event.title }}</h2>
<p><span class="ui-icon ui-icon-person" style="display: inline-block"></span> {{ event.owner }}</p>
<p><span class="ui-icon ui-icon-clock" style="display: inline-block"></span> {{ event.describeTimeRange }}</p>
<p><span class="ui-icon ui-icon-tag" style="display: inline-block"></span>
{% for tag in event.tag_set.all %}
{% url 'singleTag' tag.name as tagUrl %}
<button onclick="window.location.href='{{ tagUrl }}'">{{ tag.name }}</button>
{% endfor %}
</p>
{% url 'singleEvent' event.pk as eventUrl %}
{% url 'newThreadInEvent' event.id as newThreadUrl %}
<button class="eventDetails" onclick="window.location.href='{{ eventUrl }}'">(details button)</button>
<button class="newThread" onclick="window.location.href='{{ newThreadUrl }}'">(new thread button)</button>
{% with event.threads.all as threadIndex %}
{% include 'tracker/threadIndex.html' %}
{% endwith %}
{% empty %} {# there are no events at all #}
<p>No events have been associated with this tag.</p>
{% endfor %}
{% if someArePrivate %}
<div class="ui-state-highlight ui-corner-all"><p><span class="ui-icon ui-icon-info" style="display: inline-block; margin-left: 0.5em; margin-right: 0.5em;"></span>One or more private events
have been associated with this tag. These are not being shown.</p></div>
{% endif %}
{% endblock content %}
