<!DOCTYPE html>
<!--
    Copyright 2016 Jake Wimberley.

    This file is part of Weathredds.

    Weathredds is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Weathredds is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Weathredds.  If not, see <http://www.gnu.org/licenses/>.
-->
{% extends 'tracker/base.html' %}
{% block content %}
<script>
	document.getElementById('nameOfView').innerHTML = 'View Thread';
</script>

{% include 'tracker/thread.html' %}

{% for event in relEvents %}
{% if forloop.first %}
<p>This thread is associated with the following events:</p>
<ul>
{% endif %}
{% url 'singleEvent' event.id as eventUrl %}
	<li><a href="{{ eventUrl }}">{{ event }}</a></li>
{% if forloop.last %}
</ul>
{% endif %}
{% endfor %}

{% include 'tracker/associationModals.html' %}

{% endblock content %}
