<!DOCTYPE html>
<!--
    Copyright 2016 Jake Wimberley.

    This file is part of RunToRun.

    RunToRun is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    RunToRun is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with RunToRun.  If not, see <http://www.gnu.org/licenses/>.
-->
{% extends 'tracker/base.html' %}
{% block content %}
<script>
	document.getElementById('nameOfView').innerHTML = 'Event &quot;{{ event.title }}&quot;';
	$(function() {
{% if eventIsPinned %}
		$("#pinButton").button({
			icons: { primary: "ui-icon-pin-w" },
			label: 'Unpin this event'
		});
{% else %}
		$("#pinButton").button({
			icons: { primary: "ui-icon-pin-s" },
			label: 'Pin this event'
		});
{% endif %}
		$("#pinButton").click(function() {
			$.get('/async/togglePin', { event: {{ event.id }} }, function(data) {
				if (data == 'pinned') {
					$("#pinButton").button({
						icons: { primary: "ui-icon-pin-w" },
						label: 'Unpin this event'
					});
				} else if (data == 'unpinned') {
					$("#pinButton").button({
						icons: { primary: "ui-icon-pin-s" },
						label: 'Pin this event'
					});
				}
			});
		});
	});
</script>
<p>Created {{ event.createdDate|date:"Hi\z D M j" }} by {{ event.owner }}</p>
<button id="pinButton">(pin button)</button>
{% include 'tracker/thread.html' %}
{% endblock content %}
