{% load dictGet %}
<script>
	$(function() {
		$( ".concurrentDiscussions" ).accordion();
	});
</script>
{% for validDate in validDates %}
<h2>Valid {{ validDate|date:"Hi\z D M j" }}</h2>
<div class="concurrentDiscussions">
{% for disco in discussions|dictGet:validDate %}
	<h3>{{ disco.createdDate|date:"Hi\z D M j" }} ({{ disco.author }})</h3>
	<div>
		<p>{{ disco.text }}</p>
	</div>
{% if forloop.last %}
{% url 'addConcurrent' disco.id as concurrentUrl %}
	<h3>Add another discussion valid at this time</h3>
	<div><a href="{{ concurrentUrl }}">Click here</a></div>
{% endif %}
{% endfor %}
</div>
{% endfor %}
