{% load dictGet %}
<script>
	$(function() {
		$( ".oneThread" ).accordion();
		$("button.extendLink").button({
			icons: { primary: "ui-icon-circle-plus" },
			label: 'Extend'
		});
	});
</script>
{% for key in threadKeys %}
<h2>{{ threadTitles|dictGet:key }}</h2>
<p>Valid {{ validDates|dictGet:key|date:"Hi\z D M j" }}</p>
<script>
<!-- TODO: reuse javascript across all buttons -->
$( function() {
	$("button#change{{key}}").button({
		icons: { primary: "ui-icon-wrench" },
		label: 'Change details'
	})
{% if allowEdits|dictGet:key %}
	{% if extensibility|dictGet:key %}
			$("button#freeze{{key}}").button({
				icons: { primary: "ui-icon-locked" },
				label: 'Freeze'
			});
			$("button#extend{{key}}").show();
	{% else %}
			$("button#freeze{{key}}").button({
				icons: { primary: "ui-icon-unlocked" },
				label: 'Unfreeze'
			});
			$("button#extend{{key}}").hide();
	{% endif %}
	$("button#freeze{{key}}").click(function() {
		$.get('/async/toggleFrozen', { thread: {{ key }} }, function(data) {
			if (data == 'unfrozen') {
				$("button#freeze{{key}}").button({
					icons: { primary: "ui-icon-locked" },
					label: 'Freeze'
				});
				$("button#extend{{key}}").show();
			} else if (data == 'frozen') {
				$("button#freeze{{key}}").button({
					icons: { primary: "ui-icon-unlocked" },
					label: 'Unfreeze'
				});
				$("button#extend{{key}}").hide();
			}
		});
	});
{% else %}
	$("button#freeze{{key}}").hide();
	{% if not extensibility|dictGet:key %}
	$("button#extend{{key}}").button({
		icons: { primary: "ui-icon-locked" },
		label: 'Frozen'
	}).button("disable");
	{% endif %}
{% endif %}
});
</script>
{% url 'changeThread' key as changeUrl %}
	<button id="change{{key}}" onclick="window.location.href='{{ changeUrl }}'">change</button>
	<button id="freeze{{key}}">freeze/unfreeze</button>
	{% url 'extendThread' key as extendThread %}
	<button class="extendLink" id="extend{{key}}" onclick="window.location.href='{{ extendThread }}'">extend</button>
<div class="oneThread">
{% for disco in discussionSets|dictGet:key %}
	<h3>{{ disco.createdDate|date:"Hi\z D M j" }} ({{ disco.author }})</h3>
	<div>
		<p>{{ disco.text }}</p>
	</div>
{% if forloop.last %}

{% endif %}
{% endfor %}
</div>
{% endfor %}
