{% load dictGet %}
<script>
	$(function() {
		$( ".oneThread" ).accordion();
	});
</script>
{% for key in threadKeys %}
<h2>{{ threadTitles|dictGet:key }}</h2>
<p>Valid {{ validDates|dictGet:key|date:"Hi\z D M j" }}</p>
<div class="oneThread">
{% for disco in discussionSets|dictGet:key %}
	<h3>{{ disco.createdDate|date:"Hi\z D M j" }} ({{ disco.author }})</h3>
	<div>
		<p>{{ disco.text }}</p>
	</div>
{% if forloop.last %}
{% url 'extendThread' key as extendThread %}
	<h3>Extend this thread with another discussion</h3>
	<div><a href="{{ extendThread }}">Click here</a></div>
{% endif %}
{% endfor %}
</div>
{% endfor %}
